<h2>Votre document</h2>
<ul>
 <%= render :partial => "legacy_documents/documents", :object => Array(@document), :locals => { :linked => false, :empty => "Aucun document correspondant n'a été trouvé ...", :actions => true, :tags => true } %>
</ul>

