<h2>AudioBank</h2>
<ul>
 <li><%= link_to("Accueil", :controller => "users", :action => "welcome") %></li>
 <li><%= link_to("Créer votre compte", :controller => "users", :action => "signup") %></li>
 <li><%= link_to("S'identifier", :controller => "users", :action => "signin") %></li>
</ul>
