<% if subscribers.empty? %>
 <li><%= empty %></li>
<% else %>
 <% for subscriber in subscribers %>
  <li id="<%= "subscriber_#{subscriber.id}" %>" class="vcard">
   <%= image_tag("avatar.png", :class => 'photo') %>
   <span class="fn"><%= subscriber.name %></span>
   <span class="org"><%= subscriber.organization %></span>
  </li>
  <% if draggable %>
   <%= draggable_element("subscriber_#{subscriber.id}", :revert => true) %> 
  <% end %>
 <% end %>
<% end %>
