<% if users.empty? %>
 <li><%= empty %></li>
<% else %>
 <% for user in users %>
  <li id="<%= "user_#{user.id}" %>" class="vcard">
   <%= image_tag("avatar", :class => 'photo') %>
   <span class="fn"><%= user.name %></span>
   <span class="org"><%= user.organization %></span>
  </li>
  <% if draggable %>
   <%= draggable_element("user_#{user.id}", :revert => true) %> 
  <% end %>
 <% end %>
<% end %>
