<h2>Vos documents correspondant à : <%= @keywords %></h2>
<ul>
 <%= render :partial => "documents/documents", :object => @documents, :locals => { :linked => true, :empty => "Aucun document correspondant n'a été trouvé ...", :actions => false, :tags => true } %>
</ul>
<h2>Vos souscriptions correspondant à : <%= @keywords %></h2>
<ul>
 <%= render :partial => "subscriptions/subscriptions", :object => @subscriptions, :locals => { :linked => true, :empty => "Aucune souscription correspondante n'a été trouvé ...", :actions => false, :tags => true } %>
</ul>
