<h2>Vos identifiants</h2>
<% form_tag(:action => :signin) do %>
 <p><label for="user_username">Nom d'utilisateur :</label><br/>
 <%= text_field("user", "username") %></p>
 <p><label for="user_password">Mot de passe :</label><br/>
 <%= password_field("user", "password") %></p>
 <%= submit_tag "Se connecter" %>
 ou
 <%= link_to "rappel de votre mot de passe &#8250;", :controller => :users, :action => :recover_password, :class => "blue" %>
<% end %>
