<h2>Vos étiquettes</h2>
<% if @tag.empty? %>
 <p>Vous n'avez aucune étiquette ..</p>
<% else %>
 <% for tag in @tag %>
  <%= link_to(tag.name, { :action => "tag", :name => tag.name }, :rel => "tag", :class => "rel-tag") %>
 <% end %>
<% end %>
