<h2>AudioBank</h2>
<ul>
 <li><%= link_to("Gérer vos documents", :controller => 'documents', :action => 'manage') %></li>
 <li><%= link_to("Ajouter un document", :controller => 'documents', :action => 'add') %></li>
 <li><%= link_to("Consulter vos souscriptions", :controller => 'subscriptions', :action => 'manage') %></li>
</ul>
