<h2>Consulter vos souscriptions</h2>
<ul>
 <%= render :partial => "subscriptions", :object => @subscriptions, :locals => { :linked => true, :empty => "Vous n'avez aucune souscription ...", :actions => true, :type => :subscriptions, :tags => true } %>
</ul>
<%= will_paginate @subscriptions %>