<h2>Consulter votre souscription</h2>
<ul>
 <%= render :partial => "subscriptions", :object => @subscription.to_a, :locals => { :linked => false, :empty => "Aucune souscription correspondante n'a été trouvée ...", :actions => true } %>
</ul>
