<h2>Vos souscriptions portant l'étiquette : <%= params[:name] %></h2>
<ul>
 <%= render :partial => "subscriptions/subscriptions", :object => @subscriptions, :locals => { :linked => true, :empty => "Aucune souscription correspondant n'a été trouvé ...", :actions => true, :tags => true } %>
</ul>
<%= will_paginate @subscriptions %>