<h2>Gérer vos groupes</h2>
<ul>
 <%= render :partial => "group/groups", :object => @groups, :locals => { :linked => true, :empty => "Vous n'avez aucun groupe, vous devriez #{link_to("en ajouter un &#8250;", :action => "add")}", :actions => true, :members => false } %>
</ul>
<%= will_paginate @groups %>