<h2>Gérer vos groupes</h2>
<ul>
 <%= render :partial => "group/groups", :object => @groups, :locals => { :linked => true, :empty => "Vous n'avez aucun groupe, vous devriez #{link_to('en ajouter un', :action => 'add')}.".html_safe, :actions => true, :members => false } %>
</ul>
<%= will_paginate @groups %>
