<html>
 <body>

  <h3>Bonjour <%= @user.name %>,</h3>

  <p>Voici votre nouveau mot de passe pour
    <%= link_to "accéder à votre compte AudioBank", :controller => :users, :action => :signin, :only_path => false %> :
    <code><%= @new_password %></code>
  <p>

  </body>
</html>
