<% if reviews.empty? %>
 <li><%= empty %></li>
<% else %>
 <% for review in reviews %>
  <li class="hreview">
   <abbr class="rating" title="<%= review.rating %>"><%= image_tag(review.rating.to_s) %></abbr>
   <span class="reviewer vcard">
    <%= image_tag("avatar", :class => 'photo') %>
    <span class="fn"><%= review.user.name %></span>
   </span>
   <blockquote class="description">
    <%= review.description %>
   </blockquote>
  </li>
 <% end %>
<% end %>
