<h2>Gérer vos podcasts</h2>
<ul>
 <%= render :partial => "podcasts/podcasts", :object => @podcasts, :locals => { :linked => true, :empty => "Vous n'avez aucun podcast, vous devriez #{link_to("en ajouter un", :action => "add")}".html_safe, :actions => true, :tags => true } %>
</ul>
<%= will_paginate @podcasts %>
